.ask
    .section
        .ask-title Задайте свой вопрос сейчас
        .ask-row
            .ask-info
                p Если у Вас есть вопросы по порядку покупки или оформления билетов, о темах конференции, лекторах, Вы можете задать их нам.
                p Симпозиум проводит Бостонский Институт Эстетической Медицины - лидер развития нейромышечной стоматологии в России при поддержке Международного Колледжа Краниомандибулярной Ортопедии (ICCMO) - организации с 35-летним стажем научных исследований в области нейромышечной стоматологии.
            form.ask-form
                .input.inverse
                    input(placeholder="Имя")
                .input-row
                    .input.inverse
                        input(placeholder="Email*")
                    .input.inverse
                        input(placeholder="Телефон")
                .input.inverse
                    textarea(placeholder="Сообщение*")
                .ask-form-agree
                    label.checkbox.inverse
                        input(type="checkbox")
                        .checkbox-btn
                        .checkbox-text Нажимая на кнопку "Отправить", я подтверждаю свое согласие с условиями действующей <a href="">политики конфиденциальности</a>
                button.submitBtn.inverse Отправить