.social {
    display: flex;
    align-items: center;
    &-item {
        margin: 0 10px;
        font-size: 28px;
        color: #fff;
        transition: .2s;
        &:hover {
            opacity: .8;
        }
    }
}