@font-face {
    font-family: 'Roboto';
    src:
            url('../assets/fonts/Roboto-Light/RobotoLight.woff2') format('woff2'),
            url('../assets/fonts/Roboto-Light/RobotoLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src:
            url('../assets/fonts/Roboto-Regular/RobotoRegular.woff2') format('woff2'),
            url('../assets/fonts/Roboto-Regular/RobotoRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src:
            url('../assets/fonts/Roboto-Medium/RobotoMedium.woff2') format('woff2'),
            url('../assets/fonts/Roboto-Medium/RobotoMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src:
            url('../assets/fonts/Roboto-Bold/RobotoBold.woff2') format('woff2'),
            url('../assets/fonts/Roboto-Bold/RobotoBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src:
            url('../assets/fonts/Roboto-Black/RobotoBlack.woff2') format('woff2'),
            url('../assets/fonts/Roboto-Black/RobotoBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}


.icon-attention:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-shield:before { content: '\f132'; } /* '' */
.icon-lock:before { content: '\f13e'; } /* '' */