:root {
    --whiteSmoke: #f5f5f5;
    --summerSky: #49acff;
    --summerSky-dark: #3ea5fb;
    --midnightExpress: #292c35;
    --licorice: #2a3645;
    --midnight: #26313f;
    --radicalRed: #fb3757;
}