.sponsors
    .sponsors-list.js-sponsorsSlider
        mixin sponsorItem
            .sponsors-item
                .sponsors-img
                .sponsors-name Название
        +sponsorItem
        +sponsorItem
        +sponsorItem
        +sponsorItem
        +sponsorItem
        +sponsorItem
        +sponsorItem
        +sponsorItem
        +sponsorItem
    button.sponsors-btn Стать спонсором