.tickets
    .tickets-list.js-ticketsSlider
        mixin ticketsItem
            .tickets-item
                include ../../components/ticket/ticket
        +ticketsItem
        +ticketsItem
        +ticketsItem
    .tickets-controls
        a(href="").tickets-link Смотреть все билеты