.section.header-top
    .header-top-col
        include ../../../components/elements/conf
        include ../../../components/elements/hotel
    .header-top-col
        include ../../../components/elements/phone
        include ../../../components/elements/lang
        include ../../../components/elements/auth