.burger {
    display: none;
    flex-shrink: 0;
    width: 23px;
    height: 20px;
    &-stroke {
        width: 23px;
        height: 4px;
        background-color: var(--gigas);
    }
}
@media (max-width: 767px) {
    .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}