.burger {
    display: none;
    flex-shrink: 0;
    width: 32px;
    height: 22px;
    &-stroke {
        width: 32px;
        height: 4px;
        background-color: #fff;
    }
}
@media (max-width: 767px) {
    .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}