.counter {
    display: flex;
    align-items: center;
    color: #fff;
    &-text {
        margin-left: 14px;
        font-size: 14px;
    }
}
@media (max-width: 992px) {
    .counter {
        flex-direction: column;
        &-text {
            margin-top: 5px;
            margin-left: 0;
        }
        span {
            display: none;
        }
    }
}