.wrapper {
    width: 100%;
    max-width: 1112px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 6px;
    transition: .4s;
    overflow: hidden;
    &-row {
        display: flex;
    }
}
@media (max-width: 1112px) {
    .wrapper {
        border-radius: 0;
    }
}
