.social
    a(href="").social-item
        img(src="assets/img/icons/fb.png" alt="")
    a(href="").social-item
        img(src="assets/img/icons/twitter.png" alt="")
    a(href="").social-item
        img(src="assets/img/icons/insta.png" alt="")
    a(href="").social-item
        img(src="assets/img/icons/gplus.png" alt="")