.ticket
    .ticket-name Для членов ICCMO
    .ticket-price 650
    ul.ticket-list
        li Доступ на все мероприятия
        li Сертификат об участии
        li Сертификат об участии
        li Сертификат об участии
    a(href="").ticket-btn Купить билет