.board
    .board-row
        button.board-play.first
            img(src="assets/img/play.png" alt="")
        .board-info
            .board-title Стоматология будущего сегодня
            button.board-play.second
                img(src="assets/img/play.png" alt="")
            .board-date г. Москва, 17-19 мая 2019 г.
            .board-phone +7 (495) 512 35 17
            a(href="").board-registration Зарегистрироваться на конференцию
        button.board-mouse
            img(src="assets/img/icons/mouse.png" alt="")