.menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 100%;
    height: calc(100vh - 72px);
    background-color: rgba(255,255,255,.95);
    &-nav {
        height: calc(100% - 50px);
        padding: 46px 0;
    }
    &-controls {
        display: flex;

    }
}