.element {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 17px 20px;
    transition: .2s;
    &:hover {
        background-color: rgba(0,0,0,.2);
    }
    &-icon {
        margin-right: 12px;
    }
    &-text {
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
    }
    &.phone, &.lang, &.auth {
        &:hover {
            background-color: transparent;
        }
    }
    &.lang {
        .element-icon {
            margin-right: 0;
            margin-left: 12px;
        }
    }
    &.auth {
        padding-right: 0;
    }
}

@media (max-width: 992px) {
    .element {
        &-text {
            font-size: 14px;
        }
        &.phone {
            padding: 0 5px;
            .element-text {
                display: none;
            }
        }
    }
}
@media (max-width: 767px) {
    .element {
        justify-content: center;
        width: 50%;
        padding: 13px 0;
        &:first-of-type {
            color: #333;
            background-color: #fff;
            &:hover {
                background-color: #fff;
            }
        }
        &:last-of-type {
            background-color: var(--gigas);
            &:hover {
                background-color: var(--gigas);
            }
        }
        &-text {
            font-size: 16px;
        }
    }
}