.screen.sponsors
    .section
        .screen-head
            .title Наши спонсоры
            .subtitle Подробная информация будет размещена позже
        .screen-body
            include ../../blocks/sponsors/sponsors