.links
    .links-item
        a(href="") Комитет по ценам и тарифам Московской области
    .links-item
        a(href="") Направления деятельности
    .links-item
        a(href="") СРО НП «Объединение бурильщиков на воду»
    .links-item
        a(href="") Порядок вступления