footer.footer
    .footer-top
        .section.footer-nav
            a(href="").footer-nav-item Главная
            a(href="").footer-nav-item Расписание
            a(href="").footer-nav-item Билеты
            a(href="").footer-nav-item Экзамен
            a(href="").footer-nav-item Спонсоры
            a(href="").footer-nav-item Контакты
    .footer-center
    .footer-bottom
        .section.footer-copyright
            a(href="").footer-agree Политика конфиденциальности
            span Бостонский институт  эстетической медицины, 2017
            include ../../components/social/social