aside.sidebar.js-sidebar
    include ../../components/logo/logo
    .sidebar-info
        p.sidebar-dscr Ассоциация водоснабжения и водоотведения Московской области
        button.callback
            i.icon-load
            span Обратная связь
    include ../../blocks/nav/nav
    .sidebar-partners
        .title Наши партнеры
        .sidebar-partners-item
        .sidebar-partners-item
        .sidebar-partners-item