a(href="").card
    .card-head
        img(src="assets/img/card.jpg" alt="")
    .card-body
        .card-date 20 февраля 2016
        .card-dscr Рождественно Истринский район МУП «Истринский Водоканал» торжественно открыл водозаборный узел