.slider
    .slider-controls
        include ../../components/buttons/arrows2
    .slider-list.js-eventsSlider
        mixin newsItem
            .slider-item
                include ../../components/card/card
        +newsItem
        +newsItem
        +newsItem
        +newsItem
        +newsItem