.slider
    .slider-controls
        include ../../components/buttons/arrows
    .slider-list.js-newsSlider
        mixin newsItem
            .slider-item
                include ../../components/card/card
        +newsItem
        +newsItem
        +newsItem
        +newsItem
        +newsItem