.sliderPartners
    .sliderPartners-list.js-sliderPartners
        .sliderPartners-item
            img(src="assets/img/partners/partners1.png" alt="")
        .sliderPartners-item
            img(src="assets/img/partners/partners2.png" alt="")
        .sliderPartners-item
            img(src="assets/img/partners/partners3.png" alt="")
        .sliderPartners-item
            img(src="assets/img/partners/partners4.png" alt="")
        .sliderPartners-item
            img(src="assets/img/partners/partners5.png" alt="")
        .sliderPartners-item
            img(src="assets/img/partners/partners1.png" alt="")
        .sliderPartners-item
            img(src="assets/img/partners/partners2.png" alt="")
        .sliderPartners-item
            img(src="assets/img/partners/partners3.png" alt="")
        .sliderPartners-item
            img(src="assets/img/partners/partners4.png" alt="")
        .sliderPartners-item
            img(src="assets/img/partners/partners5.png" alt="")