extends pug/base/base
block main
    include pug/pages/index/screen-sponsors
    .screen.bg
        .section
            include pug/pages/index/screen-await
            include pug/pages/index/screen-conf
    include pug/blocks/catch/catch
