.header {
    background: url("../assets/img/top-bg.jpg") center center no-repeat;
    &-top {
        display: flex;
        justify-content: space-between;
        &-col {
            display: flex;
        }
    }
    &-center {
        width: 100%;
        background-color: #fff;
    }
    &-main {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    &-logo {
        span {
            display: none;
            font-size: 28px;
            font-weight: 700;
            text-transform: uppercase;
            color: var(--gigas);
        }
    }
    &-burger, &-phone {
        display: none;
    }
}
@media (max-width: 992px) {
    .header {
        &-logo {
            width: 140px;
        }
    }
}
@media (max-width: 767px) {
    .header {
        &-top {
            display: none;
        }
        &-main {
            height: 72px;
        }
        &-nav {
            display: none;
        }
        &-burger, &-phone {
            display: block;
        }
    }
}
@media (max-width: 480px) {
    .header {
        &-logo {
            width: auto;
            img {
                display: none;
            }
            span {
                display: block;
            }
        }
    }
}