nav.nav
    a(href="").nav-item Об Ассоциации
    a(href="").nav-item Членство в Ассоциации
    a(href="").nav-item Нормативно-правовая база
    a(href="").nav-item Взаимодействие
    a(href="").nav-item Сотрудничество
    a(href="").nav-item Новости
    a(href="").nav-item Мероприятия
    a(href="").nav-item Контакты
    a(href="").nav-item Собрание членов АВВ МО
    a(href="").nav-item Совет АВВ МО
    a(href="").nav-item Справочник