nav.nav
    a(href="").nav-item главная
    a(href="").nav-item Расписание
    a(href="").nav-item регистрация на конференцию
    a(href="").nav-item Экзамен
    a(href="").nav-item Спонсоры
    a(href="").nav-item Контакты