.await
    .await-col
        .await-item.big
            img(src="assets/img/await/await1.jpg" alt="")
            .await-title Доклады признанных экспертов нейромышечной стоматологии мирового класса о роли функционального подхода в лечении патологии окклюзии и дисфункции ВНЧС
            .await-note *Подробнее о спикерах и лекторах ниже на странице.
    .await-col
        .await-item.small
            img(src="assets/img/await/await2.jpg" alt="")
            .await-title Гала-ужин для всех участников семинара ICCMO
            .await-note *Уже входит в сумму билета.
        .await-item.small
            img(src="assets/img/await/await3.jpg" alt="")
            .await-title Практические мастер-классы по работе с новейшими материалами и технологиями от руководителей компаний-производителей
